$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.8;
$base-line-height: 1.5;

$spacing-unit: 30px;

$mega-font-size: 100px;
$h1-font-size: 70px;
$h2-font-size: 40px;
$h3-font-size: 30px;
$h4-font-size: 24px;

$text-color: #333;
$background-color: #fefef3;
$brand-color: #fe5f55;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;
