.look {
	background-color: red;
	color: white;
	border: 1px solid black;
}

.general-image {
	width: 100%;
}



/*id setting*/

#layout-wrapper {
	margin-top: 56px;
}

#landing-page-logo {
	width: 100%;
}

