aside.sidebar {
	position: fixed;
	top: 10%;
	height: 90%;
}


.articles:first-child {
	margin-top: 50px;
}


/* !_Category section */
.category-wrapper {
	width: 95%;
	margin: auto;
}

.category {
	margin-top: 10%;
}

.category-name {
	text-align: center;
	font-weight: 900;
	border-radius: 5px;
	padding: 0.5em 0 0.5em 0;
	font-size: 2em;
	margin-bottom: 0;
	padding-bottom: 0;
}

.category-subname {
	font-size: 1.5em;
	text-align: center;
	font-weight: 800;
	padding: 0.2em 0 0.2em 0;
}

.category-item {
	/*text-align: center;*/
	font-size: 1.3em;
	margin-bottom: 5px;
	margin-left: 20%;
}

.category-item a {
	text-decoration: none;
	color: black;
	transition: 0.5s;
}

.category-item a:hover {
	color: crimson;
}
/* !-Category ends */




/* !_Navigation Bar */

/* !__Menu section__ */
#nav {
	width: 100%;
	position: fixed;
	min-width: 100%;
	z-index: 999;
	/*padding: 0.5em 2em 0.5em 2em;*/
	padding: 0em 2em 0em 1em;
	display: flex;
	justify-content: space-between;
	background: gray;

}

#menus {
	display: flex;
	align-items: center; /* align-items가 세로로 정렬 */
	flex-wrap: wrap;
}

#menus p,
#menus li {
	text-align: center;
}

#menus ul {
	display: flex;
	list-style: none;
}

#menus ul li {
	padding: 0 0 0 0;
	align-items: center; /* align-items가 세로로 정렬 */
}

#nav * {
	margin-bottom: 0;
	text-decoration: none;
}

.menu {
	padding: 0.5em 1em 0.5em 1em;
	min-width: 80px;
	max-width: 150px;
	text-align: center;
	font-size: 1.2em;
	position: relative;
	display: block;
}

.menu span {
	color: #ccc;
	transition-duration: 0.5s;
}

.menu:hover span,
.menu-wrapper:hover span{
	color: white;
}

.menu-item {
	display: none;
	position: absolute;
	background: #ddd;
	text-align: center;
	min-width: 150px;
	border-radius: 3px;
	top: 46.5px;
}

.menu-item a {
	display: block;
	padding: 5px;
	color: #666;
	border-radius: 3px;
	border: 1px solid #aaa;
	border-top: 0;
}

.menu-item a:hover {
	color: black;
}

.menu-wrapper {
	position: relative;
}

#menus-right {
	display: flex;
	align-items: center;
}

.menu-wrapper:hover .menu-item {
	display: block;
}
/* !--Navigation Bar ends */


/* !__Search section */
#search-section {
	display: flex;
	align-items: center; /* align-items가 세로로 정렬 */
	flex-wrap: wrap;
	position: relative;
	margin-right: 1.5em;
}

#search-input {
	padding: 5px 5px;
	border-radius: 3px;
	border: 2px solid lightblue;
	text-indent: 32px;
}

#input-wrapper {
	position: relative;
}

#results-container {
	position: absolute;
	top: 2.5em;
	border-radius: 5px;
	border: 1px solid gray;
}

.search-results-item {
	list-style: none;
}


.search-results-item a {
	text-decoration: none;
	display: block;
	width: 280px;
	background-color: #aaa;
	padding: 0.3em;
	color: white
}

.search-results-item a:hover {
	color: yellow;
}

.fa-search {
	position: absolute;
	top: .5em;
	left: 10px
}
/* !--Search section ends */


/* !-Toggler - */
#menu-toggler {
	width: 40px;
	height: 40px;
	position: relative;
}
#menu-toggler img {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;	
}
#toggler-wrapper {
	position: fixed;
	/*top: .5em;*/
	right: 0.5em;
	z-index: 1000;
	display: none;
}
/* !-toggler ends - */




/* !-About page */
.about-page {
	position: relative;
}

.about-wrapper {
	position: absolute;
	width: 100%;
	top: 10em;
	margin: 0 auto;
}

.about-whiteboard {
	width: 60%;
	margin: 0 auto;	
}


/* !-About page ends */

/* ETC */
.pagination p {
	display: inline-block;
	margin: 0.5em;
}








/* !-Media query section */

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
/* Big devices */
@media only screen and (max-width: 1100px) {
	#search-section {
		display: none;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	#category-list {
		padding-left : 0.5em;

	}
	.navbar-brand {
		margin-right: 0;
		font-weight: 800;
	}
	.post {
		width: 100%;
	}

}




/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.wrap-content {
		padding: 1em;
	}
	pre.highlight {
		padding: 1em 1em;
	}
	aside.sidebar {
		display: none;
	}
	#toggler-wrapper {
		display: block;
	}
	p:nth-child(1) {
		width: 100%;
	}
	#menus {
		width: 100%;
		justify-content: space-between;
	}
	ul#category-list {
		width: 100%;
		display: none;
		align-items: center;
		flex-direction: column;
	}
	.menu {
		text-align: center;
		width: 150px;
	}
	.menu-item {
		left: 150px;
		top: 0;
	}

}




/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.menu-wrapper:hover .menu-item {
		display: none;
	}
}
