<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div class="wrapper">

		<nav id="nav">
			<div id="menus">
			<p><a class="navbar-brand text-white" href="/">{{ site.title }}!</a></p>
				<ul>
					<li>
						<a href="/about.me">
							<div class="menu">
								<span> About </span>
							</div>
						</a>
					</li>
				
					<li>
						<div class="menu-wrapper">
								<a href="/category/programming">
									<div class="menu">
										<span> Programming </span>
									</div>
								</a>
							<div class="menu-item">
								<a href="/category/network">Network</a>
								<a href="/category/programming/python">Python</a>
							</div>
						</div>
					</li>
				
					<li>
						<div class="menu-wrapper">
								<a href="/category/insight">
									<div class="menu">
										<span> Insight </span>
									</div>
								</a>
						</div>
					</li>

					<li>
						<div class="menu-wrapper">
								<a href="/category/projects">
									<div class="menu">
										<span> Projects </span>
									</div>
								</a>
							<div class="menu-item">
								<a href="/category/network">Network</a>
								<a href="/category/Python">Python</a>
							</div>
						</div>
					</li>

				</ul>
			</div>

			<div id="search-section">
		
		
			</div>
		</nav>


    {{ content }}
  </div>

  {% include analytics.html %}

</body>
</html>
